body{
	margin: 0px;
	padding: 0px;
}

.nav{
	margin-bottom: 200px;
}

.two-column{
	width: 90%;
	display: flex;
	margin: 10px auto;
	border: 1px solid black;

}

.column{
	padding: 10px 25px 10px 10px;
	width: 100%;

}
form{
	line-height: 12px;
}

* {
	box-sizing: border-box;
}

#myChart{
	margin-top: 200px;

}

.column h2 {
	color: #5270fb;
	margin-bottom: 20px;
}

.chartContainer {
	margin-top: 200px;
}


/*Keeps the mortgage amount number button on a single line*/
#mortgageResult {
	display: inline;
}


/*placeholder for second column of second form*/

.placeholder {
	width: 40vw;
}