body{
	margin: 0px;
	padding: 0px;
}

.nav{
	margin-bottom: 200px;
}

.two-column{
	width: 90%;
	display: flex;
	margin: 0 auto;
	border: 1px solid blue;

}

.column{
	padding: 10px 25px 0px 10px;
	width: 100%;
	border: 3px solid green;
}
form{
	line-height: 12px;
}

* {
	box-sizing: border-box;
}

#myChart{
	margin-top: 200px;
}


/*Keeps the mortgage amount number button on a single line*/
#mortgageResult {
	display: inline;
}
