body{
	margin: 0px;
	padding: 0px;
}

.nav{
	margin-bottom: 200px;
}

.two-column{
	width: 100vw;
	display: flex;
	justify-content: space-around;
	padding-left: 25px;
}

.img_column{
	height: 500px;
	width: auto;
	object-fit: contain;
}


.column{
	padding: 10px 25px 0px 10px;
	min-width: 500px;
	width: 100%;
}
form{
	line-height: 12px;
}

* {
	box-sizing: border-box;
}

#myChart{
	margin-top: 200px;
}
